<div class="card card-body">
    <h3>Include a charter</h3>
    <form action="/yachts" method="post">
        <div class="form-group">
            <label for="yachtname">Yacht name</label>
            <input type="text" class="form-control" name="yachtname" />
        </div>
        <div class="form-group">
            <label for="destination">Destination</label>
            <select class="form-control" name="destination">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="date">Departure date</label>
            <input type="text" class="form-control" name="date" />
        </div>
        <div class="form-group">
            <label for="status">Charter status</label>
            <input type="text" class="form-control" name="status" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>